* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

// Framework

.container {
    width: 1366px;
    max-width: 95%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.center {
    margin: auto;
    align-self: center;
    justify-self: center;
}

@for $i from 1 through 5 {
    .mt-#{$i} {
        margin-top: #{$i}rem !important;
    }
}

@for $i from 1 through 5 {
    .mb-#{$i} {
        margin-bottom: #{$i}rem !important;
    }
}
  

@for $i from 1 through 5 {
    .mr-#{$i} {
        margin-right: #{$i}rem !important;
    }
}
  

@for $i from 1 through 5 {
    .ml-#{$i} {
        margin-left: #{$i}rem !important;
    }
}
  
  

